<!--The content below is only a placeholder and can be replaced.-->
<!--Container div for the whole page-->
<div class = "container">
  <!--Add contact holder for heading section-->
  <app-navbar (showContactForm)='toggleAddContactForm($event)'></app-navbar>
  <!--Contact view div to display add contact fields-->
  <app-addcontact *ngIf="isContactFormVisible" (listUpdated)="updateList()"></app-addcontact>
  <!--list of contacts in the directory-->
  <div class="contact-list">
  <app-contactlist [contactList]="contacts" (showContactDetail)="getContactDetail($event)"></app-contactlist>
  </div>

  <div class="contact-details" *ngIf="isContactDetailFormVisible">
    <span class="single-contact-detail">Name:&nbsp;{{contact.firstname}}&nbsp;{{contact.lastname}}<br />Phone Number:&nbsp;{{contact.phonenumber}}<br />Email:&nbsp;{{contact.email}}</span>
    <br />
    <button class="close-button" (click)="closeDetailView()">Close</button>
  </div>
</div>
<!--<router-outlet></router-outlet>-->
